include ./domus_tdd_api_plugin_aid/*.py

include *.md
include tox.ini
include setup.py
include config.toml

exclude .gitlab-ci.yml
exclude .gitlab-ci-extended.yml

exclude pytest.ini
prune domus_tdd_api_plugin_aid/tests
recursive-include domus_tdd_api_plugin_aid *.jinja2
recursive-include domus_tdd_api_plugin_aid *.json
recursive-include domus_tdd_api_plugin_aid *.n3
recursive-include domus_tdd_api_plugin_aid *.trig
recursive-include domus_tdd_api_plugin_aid *.ttl
recursive-include domus_tdd_api_plugin_aid *.xml
