{{aid_uri}} <https://admin-shell.io/aas/3/0/Referable/description>
          [ <https://admin-shell.io/aas/3/0/AbstractLangString/language>
                    "{{language}}" ;
            <https://admin-shell.io/aas/3/0/AbstractLangString/text>
                    "{{text}}"
          ] .
