{{submodelelement_uri}} <https://admin-shell.io/aas/3/0/Referable/idShort> "{{id_short}}" ;
  a <https://admin-shell.io/aas/3/0/SubmodelElementCollection>;
 <https://admin-shell.io/aas/3/0/HasSemantics/semanticId> [
    <https://admin-shell.io/aas/3/0/Reference/type> <https://admin-shell.io/aas/3/0/ReferenceTypes/ExternalReference> ;
    <https://admin-shell.io/aas/3/0/Reference/keys> [
        <https://admin-shell.io/aas/3/0/Key/type>  <https://admin-shell.io/aas/3/0/KeyTypes/GlobalReference> ;
    <https://admin-shell.io/aas/3/0/Key/value> "{{predicate}}"
    ]
].


