{{ element }} <https://admin-shell.io/aas/3/0/RC02/HasSemantics/semanticId> [
  a aas:Reference ;
  <https://admin-shell.io/aas/3/0/RC02/Reference/type> <https://admin-shell.io/aas/3/0/RC02/ReferenceTypes/GlobalReference> ;
  <https://admin-shell.io/aas/3/0/RC02/Reference/keys> [
      <https://admin-shell.io/aas/3/0/RC02/Key/type> <https://admin-shell.io/aas/3/0/RC02/KeyTypes/GlobalReference>;
      <https://admin-shell.io/aas/3/0/RC02/Key/value> "{{ rdf_type }}"
    ]
  ].

