{{ element }} <https://admin-shell.io/aas/3/0/RC02/Qualifiable/qualifiers> [
  a <https://admin-shell.io/aas/3/0/RC02/Qualifier>;
  <https://admin-shell.io/aas/3/0/RC02/HasSemantics/semanticId> [
    a aas:Reference ;
    <https://admin-shell.io/aas/3/0/RC02/Reference/type> <https://admin-shell.io/aas/3/0/RC02/ReferenceTypes/GlobalReference> ;
    <https://admin-shell.io/aas/3/0/RC02/Reference/keys> [
        <https://admin-shell.io/aas/3/0/RC02/Key/type> <https://admin-shell.io/aas/3/0/RC02/KeyTypes/GlobalReference>;
        <https://admin-shell.io/aas/3/0/RC02/Key/value> "{{ predicate }}"
      ]
    ];
  <https://admin-shell.io/aas/3/0/RC02/Qualifier/value> "{{ object }}";
  <https://admin-shell.io/aas/3/0/RC02/Qualifier/type> "A qualifier (this field is mandatory)";
  <https://admin-shell.io/aas/3/0/RC02/Qualifier/valueType> {{ object_type }}
  ].

