{{ element }} <https://admin-shell.io/aas/3/0/RC01/HasSemantics/semanticId> [
  <https://admin-shell.io/aas/3/0/RC01/Reference/keys> [
      <https://admin-shell.io/aas/3/0/RC01/Key/idType> <https://admin-shell.io/aas/3/0/RC01/KeyType/IRI> ;
      <https://admin-shell.io/aas/3/0/RC01/Key/type> <https://admin-shell.io/aas/3/0/RC01/KeyElements/GlobalReference>;
      <https://admin-shell.io/aas/3/0/RC01/Key/value> "{{ rdf_type }}"
    ]
  ].

