{{ submodel }} a aas:Submodel.
{{ submodel }} <https://admin-shell.io/aas/3/0/RC01/HasKind/kind> <https://admin-shell.io/aas/3/0/RC01/ModelingKind/Instance> .
{{ submodel }} <https://admin-shell.io/aas/3/0/RC01/Referable/idShort> "{{ id_short }}".


